<div class="search-filters">
    <div class="col-md-12 search-row">
        <div class="row">
            <div class="search-row__wrapper">
                <div class="col-md-12 col-lg-1">
                    <span class="search-row__description">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;{{ 'search.filter.person'|trans }}
                    </span>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="option option-text">
                        <div class="field">
                            {{ form_widget(form.first_name, { attr: { placeholder: 'search.filter.first_name'|trans } }) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="option option-text">
                        <div class="field">
                            {{ form_widget(form.last_name, { attr: { placeholder: 'search.filter.last_name'|trans } }) }}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 search-row">
        <div class="row">
            <div class="search-row__wrapper">
                <div class="col-md-12 col-lg-1">
                    <span class="search-row__description">
                        <i class="fa fa-university"></i>&nbsp;&nbsp;{{ 'search.filter.university'|trans }}
                    </span>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="option option-select">
                        {{ form_widget(form.university) }}
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="option option-select">
                        {{ form_widget(form.universityDepartment) }}
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="option option-select">
                        {{ form_widget(form.universityDepartmentDesk) }}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 search-row">
        <div class="row">
            <div class="search-row__wrapper">
                <div class="col-md-12 col-lg-1">
                    <span class="search-row__description">
                        <i class="fa fa-flask"></i>&nbsp;&nbsp;{{ 'search.filter.area'|trans }}
                    </span>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="option option-select">
                        {{ form_widget(form.scientificArea) }}
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="option option-select">
                        {{ form_widget(form.scientificField) }}
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="option option-select">
                        {{ form_widget(form.scientificBranch) }}
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
