<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app.frontend.search.index') }}">
                <img src="{{ asset('img/logo.png') }}" width="23" height="23" style="float: left; margin-right: 10px;" />
                <span style="display: block; float: left;">{{ 'header_title'|trans }}</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li>
                        <a href="{{ path('app.dashboard.default.dashboard') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            {% if app.user.profilePicturePath %}
                                <span>
                                    <img class="ui circular image" style="display: inline !important; margin-top: -3px;" src="{{ ('/uploads/profile/' ~ app.user.id ~ '/' ~ app.user.profilePicturePath)|imagine_filter('15x15') }}" />
                                </span>
                            {% else %}
                                <i class="fa fa-user"></i>
                            {% endif %}
                            &nbsp;&nbsp;
                            {% if app.user.firstName or app.user.lastName %}
                                {{ 'header_hello'|trans }}, {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                            {% else %}
                                {{ 'header_hello'|trans }}!
                            {% endif %}
                            &nbsp;&nbsp;
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('app.dashboard.default.dashboard') }}">
                                    <i class="fa fa-user"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    {{ 'header_action_profile'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <i class="fa fa-lock"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    {{ 'header_action_change_password'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <li>
                                    <a href="{{ path('app.frontend.search.index', {'_switch_user': '_exit'}) }}">
                                        <i class="fa fa-arrow-left"></i>
                                        &nbsp;&nbsp;&nbsp;
                                        {{ 'header_action_return'|trans }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out"></i>
                                        &nbsp;&nbsp;&nbsp;
                                        {{ 'header_action_logout'|trans }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-user"></i>
                            &nbsp;&nbsp;
                            {{ 'header_action_login'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('app.frontend.default.impressum') }}">
                        <i class="fa fa-info-circle"></i>
                        &nbsp;&nbsp;
                        {{ 'header_action_impressum'|trans }}
                    </a>
                </li>
                {% if app.request.get('_locale') == 'hr' %}
                    <li>
                        <a href="{{ path('app.frontend.search.index', { '_locale' : 'en' }) }}">
                            English
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('app.frontend.search.index', { '_locale' : 'hr' }) }}">
                            Hrvatski
                        </a>
                    </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'advanced_search'|trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('skills_and_competences_search') }}">{{ 'skills_and_competences'|trans }}</a></li>
                        <li><a href="{{ path('scientific_activities_search') }}">{{ 'scientific_activities'|trans }}</a></li>
                        <li><a href="{{ path('professional_activities_search') }}">{{ 'professional_activities'|trans }}</a></li>
                        <li><a href="{{ path('teaching_activities_search') }}">{{ 'teaching_activities'|trans }}</a></li>
                        <li><a href="{{ path('work_experiences_search') }}">{{ 'work_experiences'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
