<!doctype html>
<html>
    <head>
        <title>{{ 'global_title'|trans }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        {% block stylesheets %}
            {% stylesheets
                '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/semantic.min.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
                '@AppBundle/Resources/public/css/select2.min.css'
                '@AppBundle/Resources/public/css/search.css'
                '@AppBundle/Resources/public/css/button.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        {% include 'AppBundle:Search:header.html.twig' %}
        <div class="container-fluid" style="margin-top: 51px; margin-bottom: 30px;">
            <div class="row">
                <form class="ui filter form" action="{{ path('app.frontend.search.filter') }}" method="GET">
                    <div class="col-md-12">
                        <div class="row">
                            {% include 'AppBundle:Search:filter.html.twig' %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="meta">
                                        <div class="col-md-6 col-lg-6 col-sm-6">
                                            <div class="field">
                                                <div class="ui toggle checkbox">
                                                    {{ form_widget(form.freelancer) }}
                                                    {{ form_label(form.freelancer) }}
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui toggle checkbox">
                                                    {{ form_widget(form.expiration) }}
                                                    {{ form_label(form.expiration) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-6 col-sm-6" style="text-align: right;">
                                            <p>{{ 'search_result_total'|trans }}: <span class="count">0</span></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="row">
                {% include 'AppBundle:Search:results.html.twig' %}
            </div>
            <div class="fixed-action-btn commands" style="bottom: 24px; right: 24px;">
                <button class="print btn-floating btn-large waves-effect waves-light green">
                    <i class="fa fa-print"></i>
                </button>
            </div>
            {% include 'AppBundle:Search:modal.html.twig' %}
        </div>
        {% block javascripts %}
            {% javascripts
                '@AppBundle/Resources/public/js/bootstrap.min.js'
                '@AppBundle/Resources/public/js/mustache.min.js'
                '@AppBundle/Resources/public/js/semantic.min.js'
                '@AppBundle/Resources/public/js/select2.full.min.js'
                '@AppBundle/Resources/public/js/search.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
