{# Profil #}
<div class="ui modal profile-modal">
    <div class="header">
        <span class="full-name"></span>
    </div>
    <div class="content">
        <div class="ui medium image">
            <img src=""/>
        </div>
        <div class="description">
            <p class="data-00"><span></span></p>
            <p class="data-01"><span></span></p>
            <p class="data-02"><span></span></p>
            <hr />
            <p class="data-03">{{ 'modal_details_scientific_papers'|trans }}: <span><strong>1</strong></span></p>
            <p class="data-04">{{ 'modal_details_professional_papers'|trans }}: <span><strong>1</strong></span></p>
            <p class="data-05">{{ 'modal_details_mentoring'|trans }}: <span><strong>1</strong></span></p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black button">
            {{ 'modal_details_exit'|trans }}
        </div>
        <a href="#" data-url="{{ path('app.frontend.search.CV', {  'id' : '__id__', 'lang' : app.request.get('_locale') }) }}" data-lang="{{ app.request.get('_locale') }}" target="_blank" class="europass-button ui positive right labeled button">
            {{ 'modal_details_europass_cv'|trans }}
        </a>
        <a href="#" data-url="{{ path('app.frontend.search.competition', { 'id' : '__id__', 'lang' : app.request.get('_locale') }) }}" data-lang="{{ app.request.get('_locale') }}" target="_blank" class="competition-button ui positive right labeled button">
            {{ 'modal_details_activity'|trans }}
        </a>
    </div>
</div>

{# Print #}
<div class="ui modal print-modal">
    <div class="header">
        {{ 'modal_print_title'|trans }}
    </div>
    <div class="content">
        <a href="#" data-base="{{ path('app.frontend.search.list') }}" data-lang="{{ app.request.get('_locale') }}">{{ 'modal_print_list'|trans }}</a>
        <hr />
        <p>{{ 'modal_print_activity'|trans }}:</p>
        <ul>
            <li>
                <a href="#" data-base="{{ path('app.frontend.search.activityList') }}" data-lang="{{ app.request.get('_locale') }}">{{ 'modal_print_activity_all'|trans }}</a>
            </li>
            <li>
                <a href="#" data-base="{{ path('app.frontend.search.activityList') }}" data-period="5" data-lang="{{ app.request.get('_locale') }}">{{ 'modal_print_activity_5_years'|trans }}</a>
            </li>
            <li>
                <a href="#" data-base="{{ path('app.frontend.search.activityList') }}" data-period="1" data-lang="{{ app.request.get('_locale') }}">{{ 'modal_print_activity_last_year'|trans }}</a>
            </li>
        </ul>
    </div>
    <div class="actions">
        <div class="ui black button">
            {{ 'modal_print_exit'|trans }}
        </div>
    </div>
</div>
