{% extends 'AppBundle:Print/Competition:base.html.twig' %}
{% set base_path = 'AppBundle:Print/Competition/Parts:' %}
{% set i = 0 %}
{% set j = 0 %}
{% set k = 0 %}
{% set listStartDOM = '<ol>' %}
{% set listEndDOM = '</ol>' %}
{% set listIsOpen = false %}

{% block content %}
<h1>ATTACHMENT</h1>
<h2>INFORMATION ABOUT SCIENCE, TEACHING AND PROFESSIONAL ACTIVITIES</h2>
<h3>{{ person.scientificTitlePreEn ~ ' ' ~ person.firstName ~ ' ' ~ person.lastName ~ ', ' ~ person.scientificTitlePostEn }}</h3>

    <h4>A. SCIENTIFIC ACTIVITIES</h1>

    {% for activity in person.scientificActivities %}
        {% if i == 0 or activity.scientificActivityCategory.id != person.scientificActivities[i-1].scientificActivityCategory.id %}
            {% if listIsOpen %}
                {{ listEndDOM|raw }}
                {% set listIsOpen = false %}
            {% endif %}
            {% if activity.scientificActivityCategory is not null %}
                <h5>{{ activity.scientificActivityCategory.nameEn }}</h5>
            {% endif %}
        {% endif %}
        {% if activity.scientificActivityType != null and ( i == 0 or person.scientificActivities[i-1].scientificActivityType == null or activity.scientificActivityType.id != person.scientificActivities[i-1].scientificActivityType.id ) %}
            {% if listIsOpen %}
                {{ listEndDOM|raw }}
                {% set listIsOpen = false %}
            {% endif %}
            {% if activity.scientificActivityType is not null %}
                <h6>{{ activity.scientificActivityType.nameEn }}</h6>
            {% endif %}
        {% endif %}

        {% if not listIsOpen %}
            {{ listStartDOM|raw }}
            {% set listIsOpen = true %}
        {% endif %}

        <li contenteditable="true">{{ activity.authors ~ ': ' ~ activity.descriptionEn }}</li>

        {% if listIsOpen and loop.last %}
            {{ listEndDOM|raw }}
            {% set listIsOpen = false %}
        {% endif %}

        {% set i = i + 1 %}
    {% endfor %}

    <h4>B. TEACHING ACTIVITIES</h4>
    {% for activity in person.teachingActivities %}
        {% if j == 0 or activity.teachingActivityCategory.id != person.teachingActivities[j-1].teachingActivityCategory.id %}
            {% if listIsOpen %}
                {{ listEndDOM|raw }}
                {% set listIsOpen = false %}
            {% endif %}
            {% if activity.teachingActivityCategory is not null %}
                <h5>{{ activity.teachingActivityCategory.nameEn }}</h5>
            {% endif %}
        {% endif %}
        {% if activity.teachingActivityType != null and ( j == 0 or person.teachingActivities[j-1].teachingActivityType == null or activity.teachingActivityType.id != person.teachingActivities[j-1].teachingActivityType.id ) %}
            {% if listIsOpen %}
                {{ listEndDOM|raw }}
                {% set listIsOpen = false %}
            {% endif %}
            {% if activity.teachingActivityType is not null %}
                <h6>{{ activity.teachingActivityType.nameEn }}</h6>
            {% endif %}
        {% endif %}

        {% if not listIsOpen %}
            {{ listStartDOM|raw }}
            {% set listIsOpen = true %}
        {% endif %}

        <li contenteditable="true">{{ activity.authors ~ ': ' ~ activity.descriptionEn }}</li>

        {% if listIsOpen and loop.last %}
            {{ listEndDOM|raw }}
            {% set listIsOpen = false %}
        {% endif %}

        {% set j = j + 1 %}
    {% endfor %}

    <h4>C. PROFESSIONAL ACTIVITIES</h4>
    {% for activity in person.professionalActivities %}
        {% if k == 0 or activity.professionalActivityCategory.id != person.professionalActivities[k-1].professionalActivityCategory.id %}
            {% if listIsOpen %}
                {{ listEndDOM|raw }}
                {% set listIsOpen = false %}
            {% endif %}
            {% if activity.professionalActivityCategory is not null %}
                <h5>{{ activity.professionalActivityCategory.nameEn }}</h5>
            {% endif %}
        {% endif %}
        {% if activity.professionalActivityType != null and ( k == 0 or person.professionalActivities[k-1].professionalActivityType == null or activity.professionalActivityType.id != person.professionalActivities[k-1].professionalActivityType.id ) %}
            {% if listIsOpen %}
                {{ listEndDOM|raw }}
                {% set listIsOpen = false %}
            {% endif %}
            {% if activity.professionalActivityCategory is not null %}
                <h6>{{ activity.professionalActivityType.nameEn }}</h6>
            {% endif %}
        {% endif %}

        {% if not listIsOpen %}
            {{ listStartDOM|raw }}
            {% set listIsOpen = true %}
        {% endif %}

        <li contenteditable="true">{{ activity.authors ~ ': ' ~ activity.descriptionEn }}</li>

        {% if listIsOpen and loop.last %}
            {{ listEndDOM|raw }}
            {% set listIsOpen = false %}
        {% endif %}

        {% set k = k + 1 %}
    {% endfor %}
{% endblock %}
