<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <style type="text/css">
                body { margin: 0 !important; padding: 70px !important; font-family: 'Arial', 'Sans-serif' !important; font-size: 13px !important; }
                td, th { padding: 3px !important; border-radius: 0 !important; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; }
                td { border-left: 1px solid #000 !important; border-bottom: 1px solid #000 !important; }
                td.key { width: 40% !important; background-color: #BDFFFF !important; }
                td.value { width: 60% !important; }
                td.section { background-color: #99CCFF !important; }
                table { border-right: 1px solid #000 !important; border-top: 1px solid #000 !important; }
                @media print {
                    .no-print, .no-print * { display: none !important; }
                }
            </style>
            {% stylesheets
                '@AppBundle/Resources/public/css/button.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script>
            function printDocument() { window.print(); }
        </script>
    </head>
    <body>
        <table cellspacing="0" cellpadding="3">
            {% block content %}{% endblock %}
        </table>
        <div class="fixed-action-btn no-print" style="bottom: 24px; right: 24px;">
            <button onclick="printDocument();" class="btn-floating btn-large waves-effect waves-light green">
                <i class="fa fa-print"></i>
            </button>
        </div>
    </body>
</html>
