{% extends 'AppBundle:Print/ClassCV:base.html.twig' %}
{% set base_path = 'AppBundle:Print/ClassCV/Parts:' %}
{% set lang = app.request.get('lang') %}
{% if lang == '' %}
    {% set lang = 'hr' %}
{% endif %}

{% block content %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Titula, ime i prezime nositelja',
        'value' : person.scientificTitlePre ~ ' ' ~ person.firstName ~ ' ' ~ person.lastName ~ ', ' ~ person.scientificTitlePost
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Predmet koji predaje na predloženom studijskom programu',
        'value' : ''
    } %}
    {# OPĆE INFORMACIJE O NOSITELJU #}
    {% include base_path ~ 'section.html.twig' with {
        'title' : 'OPĆE INFORMACIJE O NOSITELJU'
    } %}
    {% if person.city is not null %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Adresa',
            'value' : person.address ~ ', ' ~ person.city.areaCode ~ ' ' ~ person.city.name
        } %}
    {% else %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Adresa',
            'value' : person.address
        } %}
    {% endif %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Telefon',
        'value' : person.phone
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'E-mail adresa',
        'value' : person.email
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Osobna web stranica',
        'value' : person.web
    } %}
    {% if person.dateOfBirth %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Godina rođenja',
            'value' : person.dateOfBirth|date('d.m.Y.')
        } %}
    {% else %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Godina rođenja',
            'value' : ''
        } %}
    {% endif %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Matični broj iz Upisnika znanstvenika',
        'value' : person.registrationNumber
    } %}
    {% if person.scientificTitleDate %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Znanstveno ili umjetničko zvanje i datum posljednjega izbora',
            'value' : person.scientificTitle ~ ', ' ~ person.scientificTitleDate|date('d.m.Y.')
        } %}
    {% else %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Znanstveno ili umjetničko zvanje i datum posljednjega izbora',
            'value' : ''
        } %}
    {% endif %}
    {% if person.academicTitleDate %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Znanstveno-nastavno, umjetničko-nastavno ili nastavno zvanje i datum posljednjega izbora',
            'value' : person.academicTitle ~ ', ' ~ person.academicTitleDate|date('d.m.Y.')
        } %}
    {% else %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Znanstveno-nastavno, umjetničko-nastavno ili nastavno zvanje i datum posljednjega izbora',
            'value' : ''
        } %}
    {% endif %}
    {% if person.scientificBranch is not null %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Područje i polje izbora u znanstveno ili umjetničko zvanje',
            'value' : person.scientificBranch.scientificField.scientificArea ~ ', ' ~ person.scientificBranch.scientificField ~ ', ' ~ person.scientificBranch.name
        } %}
    {% endif %}
    {# PODACI O SADAŠNJEM ZAPOSLENJU #}
    {% if current_job != null %}
        {% include base_path ~ 'section.html.twig' with {
            'title' : 'PODACI O SADAŠNJEM ZAPOSLENJU'
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Ustanova zaposlenja',
            'value' : current_job.institution
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Datum zaposlenja',
            'value' : current_job.dateFrom|date('d.m.Y.')
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Naziv radnoga mjesta (profesor, istraživač, suradnik i sl.)',
            'value' : current_job.jobTitle
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Područje rada',
            'value' : current_job.area
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Funkcija',
            'value' : current_job.function
        } %}
    {% endif %}
    {# PODACI O ŠKOLOVANJU – Najviši postignuti stupanj #}
    {% if last_school != null %}
        {% include base_path ~ 'section.html.twig' with {
            'title' : 'PODACI O ŠKOLOVANJU – Najviši postignuti stupanj'
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Zvanje',
            'value' : last_school.title
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Ustanova',
            'value' : last_school.institution
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Mjesto',
            'value' : last_school.location
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Nadnevak',
            'value' : last_school.date|date('d.m.Y.')
        } %}
    {% endif %}
    {# PODACI O USAVRŠAVANJU #}
    {% if specialization is not empty %}
        {% include base_path ~ 'section.html.twig' with {
            'title' : 'PODACI O USAVRŠAVANJU'
        } %}
        {% for spec in specialization %}
            {% if not loop.first %}
                {% include base_path ~ 'separator.html.twig' %}
            {% endif %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Godina',
                'value' : spec.date|date('d.m.Y.')
            } %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Mjesto',
                'value' : spec.location
            } %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Ustanova',
                'value' : spec.institution
            } %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Područje usavršavanja',
                'value' : spec.specializationArea
            } %}
        {% endfor %}
    {% endif %}
    {# MATERINSKI I STRANI JEZICI #}
    {% include base_path ~ 'section.html.twig' with {
        'title' : 'MATERINSKI I STRANI JEZICI'
    } %}
    {% if mother_tongue is not null %}
        {% include base_path ~ 'row.html.twig' with {
            'key' : 'Materinski jezik',
            'value' : mother_tongue.name
        } %}
    {% endif %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Strani jezik i poznavanje jezika na ljestvici od 2 (dovoljno) do 5 (izvrsno)',
        'value' : person.getSimpleLangList(lang)
    } %}
    {# KOMPETENCIJE ZA PREDMET #}
    {% include base_path ~ 'section.html.twig' with {
        'title' : 'KOMPETENCIJE ZA PREDMET'
    } %}
    {# B7, B8 #}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Ranije iskustvo u nositeljstvu sličnih predmeta (navesti naziv predmeta, studijskoga programa na kojem se izvodi/izvodio studijskoga programa)',
        'value' : first_list
    } %}
    {# A1.2, A1.3, B3, B4, C1 #}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Autorstvo sveučilišnih/fakultetskih udžbenika iz područja predmeta',
        'value' : second_list
    } %}
    {# A1.4, A1.5, A1.6, A1.7, A1.8, C3, C4 #}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Stručni, znanstveni i umjetnički radovi objavljeni u posljednjih pet godina iz područja predmeta (najviše 5 referenca)',
        'value' : third_list
    } %}
    {# A1.4, A1.5, A1.6, A1.7, A1.8, C3, C4 #}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Stručni i znanstveni radovi iz metodike i kvalitete nastave objavljeni u posljednjih pet godina (najviše 5 referenca)',
        'value' : fourth_list
    } %}
    {# A2.1, A2.2, A2.3, C7 #}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Stručni, znanstveni i umjetnički projekti iz područja predmeta koji su se provodili u posljednjih pet godina (najviše 5 referenca)',
        'value' : fifth_list
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'U sklopu kojega programa i u kojem je opsegu nositelj stekao metodičko- psihološko-didaktičko pedagoške kompetencije?',
        'value' : ''
    } %}
    {# PRIZNANJA I NAGRADE #}
    {% include base_path ~ 'section.html.twig' with {
        'title' : 'PRIZNANJA I NAGRADE'
    } %}
    {# C11 #}
    {% include base_path ~ 'row.html.twig' with {
        'key' : 'Priznanja i nagrade za nastavni i znanstveni rad/umjetnički rad',
        'value' : awards
    } %}

{% endblock %}
