{% extends 'AppBundle:Administration:base.html.twig' %}
{% form_theme form 'AppBundle:Dashboard:forms.html.twig' %}

{% block content %}
    <div class="col-md-12">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="row-fluid" style="text-align: right;">
                <input type="submit" class="btn btn-success" value="Spremi" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
