<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app.dashboard.default.dashboard') }}">Sveučilište u Splitu - Administracija</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><span>Pozdrav, {% if app.user.firstName or app.user.lastName %}{{ app.user.firstName ~ ' ' ~ app.user.lastName }}{% else %}Korisnik #{{ app.user.id }}{% endif %}</span></li>
                <li><a href="{{ path('app.frontend.default.impressum') }}">Impressum</a></li>
                <li><a href="{{ path('fos_user_change_password') }}">Promjena lozinke</a></li>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ path('app.frontend.search.index', {'_switch_user': '_exit'}) }}">
                            Povratak
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            Odjava
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
