<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.administration.area.index') }}">
            <i class="fa fa-fw fa-cube"></i>
            &nbsp; Znanstvena područja
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.area.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Novo znanstveno područje
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.field.index') }}">
            <i class="fa fa-fw fa-cube"></i>
            &nbsp; Znanstvena polja
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.field.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Novo znanstveno polje
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.branch.index') }}">
            <i class="fa fa-fw fa-cube"></i>
            &nbsp; Znanstvene grane
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.branch.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Nova znanstvena grana
        </a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.administration.university.index') }}">
            <i class="fa fa-fw fa-university"></i>
            &nbsp; Sveučilišta
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.university.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Novo sveučilište
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.universitydepartment.index') }}">
            <i class="fa fa-fw fa-cube"></i>
            &nbsp; Sastavnice
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.universitydepartment.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Nova sastavnica
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.universitydepartmentdesk.index') }}">
            <i class="fa fa-fw fa-cube"></i>
            &nbsp; Odsjeci/Zavodi
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.universitydepartmentdesk.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Novi odsjek/zavod
        </a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.administration.scientifictitle.index') }}">
            <i class="fa fa-fw fa-cube"></i>
            &nbsp; Znanstvena zvanja
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.scientifictitle.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Novo znanstveno zvanje
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.academictitle.index') }}">
            <i class="fa fa-fw fa-cube"></i>
            &nbsp; Znanstveno-nastavna zvanja
        </a>
    </li>
    <li>
        <a href="{{ path('app.administration.academictitle.new') }}">
            <i class="fa fa-fw fa-plus"></i>
            &nbsp; Nova znanstveno-nastavno zvanje
        </a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.administration.user.index') }}">
            <i class="fa fa-fw fa-group"></i>
            &nbsp; Korisnici
        </a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.dashboard.default.dashboard') }}">
            <i class="fa fa-fw fa-user"></i>
            &nbsp; Moj Profil
        </a>
    </li>
</ul>
