<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            <style type="text/css">
                body { margin: 0; padding: 0; }
                td, th { border-radius: 0 !important; -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; padding: 0 !important; margin: 0 !important; }
                @media print {
                    .no-print, .no-print * { display: none !important; }
                }
            </style>
            {% stylesheets
                '@AppBundle/Resources/public/css/button.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script>
            function printDocument() { window.print(); }
        </script>
    </head>
    <body id="document">
        <table border="0" cellspacing="0" cellpadding="9" width="100%">
            <tbody>
                <tr>
                    <td style="padding: 0;">
                        <table border="0" cellspacing="0" width="100%">
                            <tbody>
                                {% block content %}{% endblock %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        {% set lang = app.request.get('lang') %}
        {% if app.request.get('_route') == 'app.dashboard.print.cv' %}
            {% set translation = path('app.dashboard.print.cv') %}
        {% elseif app.request.get('_route') == 'app.frontend.search.CV' %}
            {% set translation = path('app.frontend.search.CV', { id: app.request.get('id') }) %}
        {% endif %}
        {% if lang == "hr" or lang == "" %}
            <div class="fixed-action-btn no-print" style="bottom: 96px; right: 24px;">
                <button onclick="location.href='{{ translation ~ '?lang=en' }}'" class="btn-floating btn-large waves-effect waves-light green">
                    <span style="margin-left: -9px;">EN</span>
                </button>
            </div>
        {% elseif lang == "en" %}
            <div class="fixed-action-btn no-print" style="bottom: 96px; right: 24px;">
                <button onclick="location.href='{{ translation ~ '?lang=hr' }}'" class="btn-floating btn-large waves-effect waves-light green">
                    <span style="margin-left: -9px;">HR</span>
                </button>
            </div>
        {% endif %}
        <div class="fixed-action-btn no-print" style="bottom: 24px; right: 24px;">
            <button onclick="printDocument();" class="btn-floating btn-large waves-effect waves-light green">
                <i class="fa fa-print"></i>
            </button>
        </div>
    </body>
</html>
