{% extends 'AppBundle:Print/CV:base.html.twig' %}
{% set base_path = 'AppBundle:Print/CV/Parts:' %}
{% set lang = app.request.get('lang') %}
{% if lang == '' %}
    {% set lang = 'hr' %}
{% endif %}

{% block content %}
    {#
        Header
    #}
    {% include base_path ~ 'heading.html.twig' %}
    {#
        Osobni podaci
    #}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Personal information'
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Name and surname',
        'value': person.firstName ~ ' ' ~ person.lastName,
        'value_size': 2
    } %}
    {% if not app.user or app.user.id != person.id %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Address',
            'value': 'Private'
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Phone number',
            'value': 'Private'
        } %}
    {% else %}
        {% if person.city is not null %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Address',
                'value' : person.address ~ ', ' ~ person.city.areaCode ~ ' ' ~ person.city.name
            } %}
        {% else %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Address',
                'value' : person.address
            } %}
        {% endif %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Phone number',
            'value': person.phone
        } %}
    {% endif %}

    {% include base_path ~ 'row.html.twig' with {
        'key': 'E-mail',
        'value': person.email
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Web site',
        'value': person.web
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Citizenship',
        'value': person.citizenshipEn
    } %}
    {% if not app.user or app.user.id != person.id %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Birth date',
            'value': 'Private'
        } %}
    {% else %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Birth date',
            'value': person.dateOfBirth|date('d/m/Y')
        } %}
    {% endif %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Identification number from the record of scientists',
        'value': person.registrationNumber
    } %}
    {#
        Radno iskustvo
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Work experience'
    } %}
    {% for experience in person.workExperience %}
        {% if not loop.first %}
            {% include base_path ~ 'separator.html.twig' %}
        {% endif %}
        {% if experience.current %}
            {% set date = experience.dateFrom|date('Y.') ~ ' &#8594;' %}
        {% else %}
            {% set date = experience.dateFrom|date('Y.') ~ ' - ' ~ experience.dateTo|date('Y.') %}
        {% endif %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Dates',
            'value': date
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Institution',
            'value': experience.institutionEn
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Job title',
            'value': experience.jobTitleEn
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Function',
            'value': experience.functionEn
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Work area',
            'value': experience.areaEn
        } %}
    {% endfor %}
    {#
        Školovanje
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Education'
    } %}
    {% for school in person.schooling %}
        {% if not loop.first %}
            {% include base_path ~ 'separator.html.twig' %}
        {% endif %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Date',
            'value': school.date|date('d/m/Y')
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Location',
            'value': school.locationEn
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Institution',
            'value': school.institutionEn
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Title',
            'value': school.titleEn
        } %}
    {% endfor %}
    {#
        Specialization
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Specialization'
    } %}
    {% for specialization in person.specialization %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Date',
            'value': specialization.date|date('d/m/Y')
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Location',
            'value': specialization.locationEn
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Institution',
            'value': specialization.institutionEn
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Specialization Area',
            'value': specialization.specializationAreaEn
        } %}
        {% include base_path ~ 'separator.html.twig' %}
    {% endfor %}
    {#
        Additional skills
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Additional skills'
    } %}
    {% if mother_tongue is not null %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Mother tongue',
            'value': mother_tongue.nameEn
        } %}
    {% endif %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Other languages',
        'value': person.getSimpleLangList(lang)
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Social skills</strong>',
        'value': person.socialSkillsEn
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Organizational skills</strong>',
        'value': person.organizationalSkillsEn
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Technical skills</strong>',
        'value': person.technicalSkillsEn
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Art skills</strong>',
        'value': person.artSkillsEn
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Other skills</strong>',
        'value': person.miscSkillsEn
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Drivers license</strong>',
        'value': person.driverLicense
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Additional information</strong>',
        'value': person.additionalEn
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>Attachments</strong>',
        'value': ''
    } %}

{% endblock %}
