{% extends 'AppBundle:Print/CV:base.html.twig' %}
{% set base_path = 'AppBundle:Print/CV/Parts:' %}
{% set lang = app.request.get('lang') %}
{% if lang == '' %}
    {% set lang = 'hr' %}
{% endif %}

{% block content %}
    {#
        Header
    #}
    {% include base_path ~ 'heading.html.twig' %}
    {#
        Osobni podaci
    #}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Osobni podaci'
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Ime i prezime',
        'value': person.firstName ~ ' ' ~ person.lastName,
        'value_size': 2
    } %}
    {% if not app.user or app.user.id != person.id %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Adresa',
            'value': 'Nije javni podatak'
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Telefon',
            'value': 'Nije javni podatak'
        } %}
    {% else %}
        {% if person.city is not null %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Adresa',
                'value' : person.address ~ ', ' ~ person.city.areaCode ~ ' ' ~ person.city.name
            } %}
        {% else %}
            {% include base_path ~ 'row.html.twig' with {
                'key' : 'Adresa',
                'value' : person.address
            } %}
        {% endif %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Telefon',
            'value': person.phone
        } %}
    {% endif %}

    {% include base_path ~ 'row.html.twig' with {
        'key': 'Elektronička pošta',
        'value': person.email
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Web adresa',
        'value': person.web
    } %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Državljanstvo',
        'value': person.citizenship
    } %}
    {% if not app.user or app.user.id != person.id %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Datum rođenja',
            'value': 'Nije javni podatak'
        } %}
    {% else %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Datum rođenja',
            'value': person.dateOfBirth|date('d.m.Y.')
        } %}
    {% endif %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Matični broj iz Upisnika znanstvenika',
        'value': person.registrationNumber
    } %}
    {#
        Radno iskustvo
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Radno iskustvo'
    } %}
    {% for experience in person.workExperience %}
        {% if not loop.first %}
            {% include base_path ~ 'separator.html.twig' %}
        {% endif %}
        {% if experience.current %}
            {% set date = experience.dateFrom|date('Y.') ~ ' &#8594;' %}
        {% else %}
            {% set date = experience.dateFrom|date('Y.') ~ ' - ' ~ experience.dateTo|date('Y.') %}
        {% endif %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Datumi (od-do)',
            'value': date
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Ustanova zaposlenja',
            'value': experience.institution
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Naziv radnog mjesta',
            'value': experience.jobTitle
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Funkcija',
            'value': experience.function
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Područje rada',
            'value': experience.area
        } %}
    {% endfor %}
    {#
        Školovanje
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Školovanje'
    } %}
    {% for school in person.schooling %}
        {% if not loop.first %}
            {% include base_path ~ 'separator.html.twig' %}
        {% endif %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Datum',
            'value': school.date|date('d.m.Y.')
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Mjesto',
            'value': school.location
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Ustanova',
            'value': school.institution
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Zvanje',
            'value': school.title
        } %}
    {% endfor %}
    {#
        Usavršavanje
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Usavršavanje'
    } %}
    {% for specialization in person.specialization %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Datum',
            'value': specialization.date|date('d.m.Y.')
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Mjesto',
            'value': specialization.location
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Ustanova',
            'value': specialization.institution
        } %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Područje',
            'value': specialization.specializationArea
        } %}
        {% include base_path ~ 'separator.html.twig' %}
    {% endfor %}
    {#
        Osobne vještine i kompetencije
    #}
    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'section.html.twig' with {
        'name': 'Osobne vještine i kompetencije'
    } %}
    {% if mother_tongue is not null %}
        {% include base_path ~ 'row.html.twig' with {
            'key': 'Materinji jezik',
            'value': mother_tongue.name
        } %}
    {% endif %}
    {% include base_path ~ 'row.html.twig' with {
        'key': 'Strani jezici',
        'value': person.getSimpleLangList(lang)
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>SOCIJALNE VJEŠTINE I KOMPETENCIJE</strong>',
        'value': person.socialSkills
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>ORGANIZACIJSKE VJEŠTINE I KOMPETENCIJE</strong>',
        'value': person.organizationalSkills
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>TEHNIČKE VJEŠTINE I KOMPETENCIJE</strong>',
        'value': person.technicalSkills
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>UMJETNIČKE VJEŠTINE I KOMPETENCIJE</strong>',
        'value': person.artSkills
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>OSTALE VJEŠTINE I KOMPETENCIJE</strong>',
        'value': person.miscSkills
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>VOZAČKA DOZVOLA</strong>',
        'value': person.driverLicense
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>DODATNI PODACI</strong>',
        'value': ''
    } %}

    {% include base_path ~ 'separator.html.twig' %}
    {% include base_path ~ 'row.html.twig' with {
        'key': '<strong>PRIVITCI</strong>',
        'value': ''
    } %}

{% endblock %}
