<script id="template" type="x-tmpl-mustache">
    {|#personnel|}
        <div class="col-sm-12 col-md-6">
            <a class="list-item" data-i="{|index|}">
                <div style="width: 10%; float: left;">
                    <img class="ui image" src="{|profile_picture|}">
                </div>
                <div style="width: 90%; float: left;">
                    <p class="first">
                        {| pre |}{| first_name |} {| last_name |}{| post |}
                    </p>
                    <p class="second">
                        {| university |},
                        {| department |},
                        {| area |},
                        {| field |}
                    </p>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    {|/personnel|}
</script>
