<!doctype html>
<html>
    <head>
        <title>Baza podataka osoblja</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            {% stylesheets
                '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/semantic.min.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style type="text/css">
                body {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    background-color: #eee;
                }
                .quick-nav-container {
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                }
                .button {
                    display: block;
                    width: 100%;
                }
                .button.blue {
                    margin-bottom: 5px;
                }
                ul {
                    margin: 0;
                    list-style-type: none;
                }
            </style>
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
