<!doctype html>
<html>
    <head>
        <title>Baza podataka osoblja</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            {% stylesheets
                '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/semantic.min.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style type="text/css">
                body {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    background-color: #eee;
                }
                p {
                    color: #333;
                    font-size: 14px;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
                .impressum-container {
                    text-align: center;
                }
            </style>
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        <div class="row-fluid">
            <div class="col-md-8 col-md-offset-2 impressum-container">
                <h2>Impressum</h2>
                <hr />
                {% if app.request.get('_locale') == 'hr' %}
                    <p>
                        Idejni začetnik i voditelj projekta: Ivica Ružić (ivica.ruzic@oss.unist.hr)<br />
                        Glavni programer aplikacije: Domagoj Gojak
                    </p>
                    <p>
                        Aplikacija je izrađena na Odsjeku za informacijske tehnologije, Sveučilišni odjel za stručne studije, Sveučilište u Splitu.<br />
                        Sudjelovali u izradi baze podataka (izradom završnih radova): Stjepan Zlatunić, Danira Šegvić i Paulo Škibola
                    </p>
                    <p>
                        Sva intelektualna, autorska i srodna prava te pravo vlasništva na aplikaciju u cijelosti pripadaju idejnom začetniku i voditelju projekta. Izmjene ili dorade aplikacije su dozvoljene samo uz njegovu pismenu privolu.<br />
                        Autorsko pravo pripada i suradnicima i to u onom dijelu u kojem su sudjelovali u izradi aplikacije.
                    </p>
                    <p>
                        Pravo korištenja aplikacije pripada Sveučilištu u Splitu.
                    </p>
                    <hr />
                    <p class="small" style="text-align: center;">
                        <a href="{{ back_url }}">Povratak</a>
                    </p>
                {% else %}
                    <p>
                        Idejni začetnik i voditelj projekta: Ivica Ružić (ivica.ruzic@oss.unist.hr)<br />
                        Glavni programer aplikacije: Domagoj Gojak
                    </p>
                    <p>
                        Aplikacija je izrađena na Odsjeku za informacijske tehnologije, Sveučilišni odjel za stručne studije, Sveučilište u Splitu.<br />
                        Sudjelovali u izradi baze podataka (izradom završnih radova): Stjepan Zlatunić, Danira Šegvić i Paulo Škibola
                    </p>
                    <p>
                        Sva intelektualna, autorska i srodna prava te pravo vlasništva na aplikaciju u cijelosti pripadaju idejnom začetniku i voditelju projekta. Izmjene ili dorade aplikacije su dozvoljene samo uz njegovu pismenu privolu.<br />
                        Autorsko pravo pripada i suradnicima i to u onom dijelu u kojem su sudjelovali u izradi aplikacije.
                    </p>
                    <p>
                        Pravo korištenja aplikacije pripada Sveučilištu u Splitu.
                    </p>
                    <hr />
                    <p class="small" style="text-align: center;">
                        <a href="{{ back_url }}">Return</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
