{% extends 'AppBundle:Welcome:base.html.twig' %}

{% block content %}
    <div class="quick-nav-container">
        <h2>Baza podataka osoblja</h2>
        <hr />
        {% if app.user %}
            <a href="{{ path('app.default.dashboard') }}" class="ui green button">
                Moj profil
            </a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="ui green button">
                Prijava
            </a>
            <a href="{{ path('fos_user_registration_register') }}" class="ui blue button">
                Registracija
            </a>
        {% endif %}
        <a href="{{ path('app.default.quickPrint') }}" class="ui blue button">
            Pretraživanje
        </a>
        <hr />
        <p class="small" style="text-align: center;">
            <a href="{{ path('app.default.about') }}">
                Impressum
            </a>
        </p>
    </div>
{% endblock %}
