{% extends 'AppBundle:Welcome:base.html.twig' %}
{% form_theme form 'AppBundle:Welcome:forms.html.twig' %}

{% block content %}
    <div class="row filter">
        <div class="container">
            {{ form_start(form) }}
                <div class="col-md-12">
                    <div class="col-sm-4">
                        {{ form_row(form.university) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.universityDepartment) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.universityDepartmentDesk) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-4">
                        {{ form_row(form.scientificArea) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.scientificField) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_row(form.scientificBranch) }}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-12">
                        {{ form_row(form.freelancer) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        <div class="container">
            <div class="col-md-12">
                <ul class="personnel"></ul>
            </div>
            <div class="col-md-12">
                <p class="small" style="text-align: center;">
                    <a href="{{ back_url }}">Povratak</a>
                </p>
            </div>
        </div>
    </div>
    <hr />
    <div class="quick-nav-container">
        <script>
            var init = [];
            var count = 0;
            $('.filter form')
                .on('change', function(e){
                    name = $(e.target).attr('name');
                    value = $(e.target).val();
                    console.log(name);
                    if (value || init.length == 3) {
                        $(this).submit();
                    } else {
                        init.push(name);
                    }
                })
                .on('submit', function(e){
                    e.preventDefault();
                    form = $('.filter form');
                    $.ajax({
                        method: form.attr('method'),
                        url: form.attr('action'),
                        data: form.serialize(),
                        cache: true,
                        success: function(response){
                            console.log(response);
                            var list = $('.personnel');
                            list.find('li').remove();
                            $.each(response.personnel, function(i, o){
                                list.append(
                                    $('<li/>')
                                        .data('id', o.id)
                                        .addClass('person-item')
                                        .html(
                                            o.lastName + ', ' + o.firstName
                                        )
                                )
                            });
                        }
                    });
                    data = form.serialize();
                })
            ;
            /*
                $('.print-ctrl').on('click', function(e){
                    e.preventDefault();
                    var placeholder = $(this).attr('href');
                    var url = placeholder.replace('__id__', $('.person-choice').val());
                    window.location = url;
                });
            */
        </script>
    </div>
{% endblock %}
