<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap-switch.min.css') }}" />
        <style>
            body {
                padding-top: 65px;
            }
            em {
                background-color: yellow;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <script>
            var firstName = '{{ 'name'|trans }}';
            var lastName  = '{{ 'last_name'|trans }}';
            var socialSkills = '{{ 'social_skills_and_competences'|trans }}';
            var socialSkillsEn = '{{ 'social_skills_and_competences_en'|trans }}';
            var organizationalSkills = '{{ 'organizational_skills_and_competences'|trans }}';
            var organizationalSkillsEn = '{{ 'organizational_skills_and_competences_en'|trans }}';
            var technicalSkills = '{{ 'technical_skills_and_competences'|trans }}';
            var technicalSkillsEn = '{{ 'technical_skills_and_competences_en'|trans }}';
            var artSkills = '{{ 'art_skills_and_competences'|trans }}';
            var artSkillsEn = '{{ 'art_skills_and_competences_en'|trans }}';
            var miscSkills = '{{ 'misc_skills_and_competences'|trans }}';
            var miscSkillsEn = '{{ 'misc_skills_and_competences_en'|trans }}';
            var authors = '{{ 'authors'|trans }}';
            var scientificActivityDescription = '{{ 'scientific_activity_description'|trans }}';
            var scientificActivityDescriptionEn = '{{ 'scientific_activity_description_en'|trans }}';
            var professionalActivityDescription = '{{ 'professional_activity_description'|trans }}';
            var professionalActivityDescriptionEn = '{{ 'professional_activity_description_en'|trans }}';
            var teachingActivityDescription = '{{ 'teaching_activity_description'|trans }}';
            var teachingActivityDescriptionEn = '{{ 'teaching_activity_description_en'|trans }}';
            var allActivities = '{{ 'modal_details_activity'|trans }}';
            var date = '{{ 'date'|trans }}';
            var yes = '{{ 'yes'|trans }}';
            var no = '{{ 'no'|trans }}';
            var jobTitle = '{{ 'job_title'|trans }}';
            var jobTitleEn = '{{ 'job_title_en'|trans }}';
            var area = '{{ 'area'|trans }}';
            var areaEn = '{{ 'area_en'|trans }}';
            var institution = '{{ 'institution'|trans }}';
            var institutionEn = '{{ 'institution_en'|trans }}';
            var ffunction = '{{ 'function'|trans }}';
            var ffunctionEn = '{{ 'ffunction_en'|trans }}';
            var dateStart = '{{ 'date_start'|trans }}';
            var dateEnd = '{{ 'date_end'|trans }}';
        </script>
        {% block navigation %}
            {% include 'AppBundle:Search:header.html.twig' %}
        {% endblock %}
        {% block content %}{% endblock %}
        <script src="{{ asset('bundles/app/js/jquery-3.1.0.min.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>