<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            {% stylesheets
                '@AppBundle/Resources/public/css/button.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style type="text/css">
                body { margin: 0; padding: 40px !important; font-family: 'Times New Roman', 'Serif' !important; }
                h1 { font-size: 26px !important; margin: 0 0 8px 0 !important; line-height: 30px !important; font-weight: bold !important; }
                h2 { font-size: 17px !important; margin: 0 0 8px 0 !important; line-height: 25px !important; font-weight: bold !important; }
                h3 { font-size: 17px !important; margin: 0 0 30px 0 !important; line-height: 15px !important; }
                h1, h2 { font-family: 'Arial', 'Sans-serif' !important; }
                h1, h2, h3 { text-align: center !important; }
                h4 { font-size: 21px !important; font-weight: bold !important; margin: 0 !important; padding: 20px 0;}
                h5 { font-size: 18px !important; margin: 0 !important; font-weight: bold !important; }
                h6 { font-size: 16px !important; margin: 15px 0 0 0 !important; font-weight: bold !important; }
                p { font-size: 13px !important; }
                @media print {
                    .no-print, .no-print * { display: none !important; }
                }
            </style>
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script>
            function printDocument() { window.print(); }
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="fixed-action-btn no-print" style="bottom: 24px; right: 24px;">
            <button onclick="printDocument();" class="btn-floating btn-large waves-effect waves-light green">
                <i class="fa fa-print"></i>
            </button>
        </div>
    </body>
</html>
