{% extends 'AppBundle:Print/ActivityList:base.html.twig' %}

{% block content %}
    <p style="font-size: 14px; margin: 5px 0;"><strong>Popis osoba koji ispunjavaju uvjete:</strong></p>
    {% if app.request.get('period') is not null %}
        <p style="font-size: 14px; margin: 5px 0 13px 0;">Period: Zadnjih/a {{ app.request.get('period') }} godina; {{ filter }}</p>
    {% else %}
        <p style="font-size: 14px; margin: 5px 0 13px 0;">{{ filter }}</p>
    {% endif %}
    {% for key, main in object %}
        <h4>{{ key }}. {{ main.name }}</h4>
        {% for category in main.categories %}
            <h5>{{ category.name }} ({{ category.total }})</h5>
            <ol>
                {% for item in category.items %}
                    <li>{{ item.first_name }} {{ item.last_name }} ({{ item.activity }})</li>
                {% endfor %}
            </ol>
            {% for type in category.types %}
                <h6>{{ type.name }} ({{ type.total }})</h6>
                <ol>
                    {% for item in type.items %}
                        <li>{{ item.first_name }} {{ item.last_name }} ({{ item.activity }})</li>
                    {% endfor %}
                </ol>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}
