{% macro default(form) %}

    {% form_theme form 'AppBundle:Dashboard:forms.html.twig' %}

    {{ form_start(form, {'attr' : {'class' : 'form ui', 'novalidate' : 'novalidate'} }) }}
        {{ form_widget(form) }}
        <hr />
        <div class="row" style="text-align: right;">
            <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
                <button class="btn-floating btn-large waves-effect waves-light green"><i class="fa fa-floppy-o"></i></button>
            </div>
        </div>
    {{ form_end(form) }}

{% endmacro %}

{% macro collection(form, items) %}

    {% form_theme form 'AppBundle:Dashboard:forms.html.twig' %}

    {% set container = 'entities' %}
    {% set collection = 'collection' %}
    {% set label_add = 'Dodaj novu stavku' %}
    {% set label_remove = 'Ukloni stavku' %}
    {% set modal = 'modal' %}
    {% set single = 'single' %}

    {{ form_start(form, {'attr' : {'class' : 'form ui', 'novalidate' : 'novalidate'} }) }}
        <div id="{{ container }}">
            <div id="{{ collection }}" data-toggle="{{ modal }}" data-target="#{{ modal }}" class="collection-container" data-prototype="{{ form_widget(items.vars.prototype)|e }}">
                {% for item in items %}
                    <div class="{{ collection }}-{{ single }} dodo-collection-removable">
                        <div class="row-fluid">
                            <div class="item">
                                {{ form_row(item) }}
                                <a href="#" style="width: 100%;" class="ui inverted red button" data-collection-button="delete" data-prototype="{{ collection }}" data-collection="{{ collection }}"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;{{ label_remove }}</a>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {% endfor %}
            </div>
            {% do items.setRendered() %}
            {{ form_rest(form) }}
        </div>
        <div class="fixed-action-btn" style="bottom: 90px; right: 24px;">
            <a data-collection-button="add" data-prototype="{{ collection }}" data-collection="{{ collection }}" class="btn-floating btn-large waves-effect waves-light green"><i class="fa fa-plus"></i></a>
        </div>
        <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
            <button class="btn-floating btn-large waves-effect waves-light green"><i class="fa fa-floppy-o"></i></button>
        </div>
    {{ form_end(form) }}

{% endmacro %}
