{% form_theme form 'AppBundle:Welcome:forms.html.twig' %}

<!doctype html>
<html>
    <head>
        <title>Registracija</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            {% stylesheets
                '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/semantic.min.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style type="text/css">
                body {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    background-color: #eee;
                }
                hr {
                    border-top: 1px solid #D0D0D0 !important;
                }
                .quick-nav-container {
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                }
                .quick-nav-container img {
                    width: 90px;
                    display: block;
                    margin: 0 auto 20px auto;
                }
                .form-signin .form-signin-heading,
                .form-signin .checkbox {
                    margin-bottom: 10px;
                }
                .form-signin .checkbox {
                    font-weight: normal;
                }
                .form-signin .form-control {
                    position: relative;
                    height: auto;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 16px;
                }
                .form-signin .form-control:focus {
                    z-index: 2;
                }
                .form-signin input#username {
                    margin-bottom: -1px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .form-signin input#password {
                    margin-bottom: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="quick-nav-container">
            <div class="logo">
                <img src="{{ asset('img/logo.png') }}" />
            </div>
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            <p class="small" style="text-align: center;">
                <a href="{{ path('fos_user_resetting_request') }}">
                    Zaboravili ste lozinku?
                </a>
            </p>
            <p class="small" style="text-align: center;">
                <a href="{{ path('app.frontend.default.impressum') }}">
                    Impressum
                </a>
            </p>
        </div>
    </body>
</html>
