{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary btn-lg col-md-12" style="margin: 20px 0 20px 0;" value="{{ 'registration.submit'|trans }}" />
</form>
