{% extends '@App/ElasticSearch/base.html.twig' %}
{% block title %}Pretraga nastavnih djelatnosti{% endblock %}
{% block content %}
    <div class="container-fluid">
        {{ form_start(form, {'method': 'get', 'action': path('teaching_activities_filter'), 'attr': {'id': 'searchForm'}}) }}
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                {{ form_label(form.authors) }}
                {{ form_widget(form.authors, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_label(form.age) }}
                {{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <hr style="border: 1px solid grey;"/>

    <div class="container-fluid" id="results" style="padding-left: 20px">

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/teaching-activities-search.js') }}"></script>
{% endblock %}