<!DOCTYPE html>
<html>
    <head>
        {% block stylesheets %}
            {% stylesheets
                '@AppBundle/Resources/public/css/button.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style type="text/css">
                @media print {
                    .no-print, .no-print * { display: none !important; }
                }
            </style>
        {% endblock %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script>
            function printDocument() { window.print(); }
        </script>
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="fixed-action-btn no-print" style="bottom: 24px; right: 24px;">
            <button onclick="printDocument();" class="btn-floating btn-large waves-effect waves-light green">
                <i class="fa fa-print"></i>
            </button>
        </div>
    </body>
</html>
