{% extends 'AppBundle:Print/List:base.html.twig' %}

{% block content %}
    <p style="font-size: 14px; margin: 5px 0;"><strong>Popis osoba koji ispunjavaju uvjete:</strong></p>
    <p style="font-size: 14px; margin: 5px 0 13px 0;">{{ filter }}</p>
    <p style="font-size: 14px; margin: 5px 0;"><strong>Zbirni podaci:</strong></p>
    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; font-size: 11px;">
        <tr>
            <td>Broj osoba</td>
            <td>Znanstveni radovi</td>
            <td>Stručni radovi</td>
            <td>Mentorstva</td>
        </tr>
        <tr>
            <td>{{ total.persons }}</td>
            <td>{{ total.scientific }}</td>
            <td>{{ total.professional }}</td>
            <td>{{ total.mentoring }}</td>
        </tr>
    </table>
    <br />
    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; font-size: 11px;">
        <tr>
            <td>Osoba</td>
            <td>Zvanje (datum izbora)</td>
            <td>Broj znanstvenika</td>
            <td>Znanstveni radovi</td>
            <td>Stručni radovi</td>
            <td>Mentorstva</td>
        </tr>
        <tr>
            <td colspan="6"></td>
        </tr>
        {% for person in persons %}
            <tr>
                <td>
                    {{ person.before_name }}
                    {{ person.first_name }}
                    {{ person.last_name }},
                    {{ person.after_name }}
                </td>
                <td>
                    {{ person.academic_title }}
                    ({{ person.election_date|date('d. m. Y.') }})
                </td>
                <td>
                    {{ person.number }}
                </td>
                <td>
                    {{ person.scientific_papers }}
                </td>
                <td>
                    {{ person.professional_papers }}
                </td>
                <td>
                    {{ person.mentoring }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    {{ person.scientific_branch }}  ({{ person.scientific_area }}, {{ person.scientific_field }})
                </td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
