{% extends 'AppBundle:Print/List:base.html.twig' %}

{% block content %}
    <p style="font-size: 14px; margin: 5px 0;"><strong>List of persons that match criteria:</strong></p>
    <p style="font-size: 14px; margin: 5px 0 13px 0;">{{ filter }}</p>
    <p style="font-size: 14px; margin: 5px 0;"><strong>Data:</strong></p>
    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; font-size: 11px;">
        <tr>
            <td>Number of people</td>
            <td>Scientific papers</td>
            <td>Professional papers</td>
            <td>Mentoring</td>
        </tr>
        <tr>
            <td>{{ total.persons }}</td>
            <td>{{ total.scientific }}</td>
            <td>{{ total.professional }}</td>
            <td>{{ total.mentoring }}</td>
        </tr>
    </table>
    <br />
    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%; font-size: 11px;">
        <tr>
            <td>Person</td>
            <td>Election date</td>
            <td>Scientist ID</td>
            <td>Scientific papers</td>
            <td>Professional papers</td>
            <td>Mentoring</td>
        </tr>
        <tr>
            <td colspan="6"></td>
        </tr>
        {% for person in persons %}
            <tr>
                <td>
                    {{ person.before_name }}
                    {{ person.first_name }}
                    {{ person.last_name }},
                    {{ person.after_name }}
                </td>
                <td>
                    {{ person.academic_title }}
                    ({{ person.election_date|date('d. m. Y.') }})
                </td>
                <td>
                    {{ person.number }}
                </td>
                <td>
                    {{ person.scientific_papers }}
                </td>
                <td>
                    {{ person.professional_papers }}
                </td>
                <td>
                    {{ person.mentoring }}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    {{ person.scientific_branch }}  ({{ person.scientific_area }}, {{ person.scientific_field }})
                </td>
            </tr>
            <tr>
                <td colspan="6"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
