{% extends 'AppBundle:Administration:base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <table class="ui celled table" style="text-align: left !important;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Prezime</th>
                    <th>Ime</th>
                    <th>Sveučilište</th>
                    <th>Sastavnica</th>
                    <th>Odsjek/Zavod</th>
                    <th>Operacije</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.lastName }}</td>
                        <td>{{ entity.firstName }}</td>
                        <td>
                            {% if entity.university is not null %}
                                {{ entity.university.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.universitydepartment is not null %}
                                {{ entity.universitydepartment.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.universitydepartmentdesk is not null %}
                                {{ entity.universitydepartmentdesk.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app.dashboard.default.dashboard', {'_switch_user': entity.username}) }}">
                                Upotrijebi račun
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
