{% extends '@App/ElasticSearch/base.html.twig' %}
{% block title %}Pretraga radnih iskustava{% endblock %}
{% block content %}
    <div class="container-fluid">
        {{ form_start(form, {'attr': {'id': 'searchForm'}}) }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.job_title) }}
                    {{ form_widget(form.job_title, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.area) }}
                    {{ form_widget(form.area, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.institution) }}
                    {{ form_widget(form.institution, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.function) }}
                    {{ form_widget(form.function, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.current) }}
                {{ form_widget(form.current, {'id': 'toggle-one'}) }}
            </div>
        {{ form_end(form) }}
    </div>
    <hr style="border: 1px solid grey;"/>

    <div class="container-fluid" id="results" style="padding-left: 20px">

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/work-experiences-search.js') }}"></script>
{% endblock %}