<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title|default('Baza podataka osoblja') }}</title>
        {% block stylesheets %}
            {% stylesheets
                '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/semantic.min.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
                '@AppBundle/Resources/public/css/select2.min.css'
                '@AppBundle/Resources/public/css/dashboard.css'
                '@AppBundle/Resources/public/css/button.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        {% include('AppBundle:Dashboard:header.html.twig') %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    {% include('AppBundle:Dashboard:sidebar.html.twig') %}
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-header">
                                {% if icon is defined %}
                                    <i class="{{ icon }}"></i>&nbsp;
                                {% endif %}
                                {{ page_title|default('Baza podataka osoblja') }}
                            </h1>
                        </div>
                    </div>
                    <div class="row placeholders">
                        <div class="col-md-12">
                        	{% for message in app.session.flashbag.get('error') %}
    						    <div class="ui warning message">
                                    <p>
    									<span class="fa fa-warning" style="margin: 0 5px 0 0;"></span>
    									{{ message }}
                                    </p>
    							</div>
    						{% endfor %}
    						{% for message in app.session.flashbag.get('success') %}
    							<div class="ui positive message">
                                    <p>
    									<span class="fa fa-check-circle-o" style="margin: 0 5px 0 0;"></span>
    									{{ message }}
                                    </p>
    							</div>
    						{% endfor %}
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% block javascripts %}
        {% javascripts
            '@AppBundle/Resources/public/js/jquery-ui.min.js'
            '@AppBundle/Resources/public/js/bootstrap.min.js'
            '@AppBundle/Resources/public/js/semantic.min.js'
            '@AppBundle/Resources/public/js/select2.full.min.js'
            '@AppBundle/Resources/public/js/dashboard.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</html>
