{% extends 'form_div_layout.html.twig' %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
            {{ '{{ day }} / {{ month }} / {{ year }}'|replace({
            '{{ year }}':  form_widget(form.year, {'attr': {'style': 'display: inline; width: 120px;'}}),
            '{{ month }}': form_widget(form.month, {'attr': {'style': 'display: inline; width: 80px;'}}),
            '{{ day }}':   form_widget(form.day, {'attr': {'style': 'display: inline; width: 80px;'}}),
            })|raw }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% set label_attr = label_attr|merge({'class': label_attr.class|default('')}) %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{% block form_row %}
{% spaceless %}
    {% if form.vars.block_prefixes.1 == 'checkbox' %}
        <div class="ui checkbox">
            {{ form_widget(form) }}
            {{ form_label(form) }}
        </div>
    {% else %}
        <div class="field {% if errors|length > 0 %} error{% endif %}">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {% for error in errors %}
                <span class="help-block form-error">
                    {{
                        error.messagePluralization is null
                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
                    }}
                </span>
            {% endfor %}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
