<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app.dashboard.default.dashboard') }}">
                <img src="{{ asset('img/logo.png') }}" width="23" height="23" style="float: left; margin-right: 10px;" />
                <span style="display: block; float: left;">Baza podataka osoblja</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        {% if app.user.profilePicturePath %}
                            <span>
                                <img class="ui circular image" style="display: inline !important; margin-top: -3px;" src="{{ ('/uploads/profile/' ~ app.user.id ~ '/' ~ app.user.profilePicturePath)|imagine_filter('15x15') }}" />
                            </span>
                        {% else %}
                            <i class="fa fa-user"></i>
                        {% endif %}
                        &nbsp;&nbsp;
                        {% if app.user.firstName or app.user.lastName %}
                            Pozdrav, {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                        {% else %}
                            Pozdrav!
                        {% endif %}
                        &nbsp;&nbsp;
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('fos_user_change_password') }}">
                                <i class="fa fa-lock"></i>
                                &nbsp;&nbsp;&nbsp;
                                Promjena lozinke
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app.frontend.search.index') }}">
                                <i class="fa fa-search"></i>
                                &nbsp;&nbsp;&nbsp;
                                Pretraživanje
                            </a>
                        </li>
                        <li class="divider"></li>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li>
                                <a href="{{ path('app.frontend.search.index', {'_switch_user': '_exit'}) }}">
                                    <i class="fa fa-arrow-left"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    Povratak
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out"></i>
                                    &nbsp;&nbsp;&nbsp;
                                    Odjava
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li>
                    <a href="{{ path('app.frontend.default.impressum') }}">
                        <i class="fa fa-info-circle"></i>
                        &nbsp;&nbsp;
                        Impressum
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
