<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.dashboard.default.dashboard') }}">
            <i class="fa fa-fw fa-user"></i>
            <span>Osobni podaci</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="{{ path('app.dashboard.default.work') }}">
            <i class="fa fa-fw fa-suitcase"></i>
            <span>Radno iskustvo</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="{{ path('app.dashboard.default.school') }}">
            <i class="fa fa-fw fa-university"></i>
            <span>Školovanje</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="{{ path('app.dashboard.default.specialization') }}">
            <i class="fa fa-fw fa-cubes"></i>
            <span>Usavršavanje</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="{{ path('app.dashboard.default.languages') }}">
            <i class="fa fa-fw fa-language"></i>
            <span>Jezične kompetencije</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="{{ path('app.dashboard.default.skills') }}">
            <i class="fa fa-fw fa-certificate"></i>
            <span>Vještine i kompetencije</span>
            <div class="clearfix"></div>
        </a>
    </li>
</ul>
<div class="ui divider"></div>
<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.dashboard.activity.scientific') }}">
            <i class="fa fa-fw fa-flask"></i>
            <span>Znanstvena djelatnost</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="{{ path('app.dashboard.activity.teaching') }}">
            <i class="fa fa-fw fa-users"></i>
            <span>Nastavna djelatnost</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="{{ path('app.dashboard.activity.professional') }}">
            <i class="fa fa-fw fa-cog"></i>
            <span>Stručna djelatnost</span>
            <div class="clearfix"></div>
        </a>
    </li>
</ul>
<div class="ui divider"></div>
<ul class="nav nav-sidebar">
    <li>
        <a target="_blank" href="{{ path('app.dashboard.print.cv') }}">
            <i class="fa fa-fw fa-file-pdf-o"></i>
            <span>Ispiši Europass CV</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a target="_blank" href="{{ path('app.dashboard.print.classCV') }}">
            <i class="fa fa-fw fa-file-pdf-o"></i>
            <span>Ispiši CV za kolegij</span>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a target="_blank" href="{{ path('app.dashboard.print.competition') }}">
            <i class="fa fa-fw fa-file-pdf-o"></i>
            <span>Ispiši sadržaj prijave na natječaj za izbor u zvanje</span>
            <div class="clearfix"></div>
        </a>
    </li>
</ul>
<div class="ui divider"></div>
<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app.frontend.search.index') }}">
            <i class="fa fa-fw fa-search"></i>
            <span>Pretraživanje</span>
            <div class="clearfix"></div>
        </a>
    </li>
    {% if is_granted( 'ROLE_ADMIN' ) %}
        <li>
            <a href="{{ path('admin') }}">
                <i class="fa fa-fw fa-edit"></i>
                <span>Administracija</span>
                <div class="clearfix"></div>
            </a>
        </li>
    {% endif %}
</ul>
