<!doctype html>
<html>
    <head>
        <title>Prijava</title>
        {% block stylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            {% stylesheets
                '@AppBundle/Resources/public/css/bootstrap.min.css'
                '@AppBundle/Resources/public/css/semantic.min.css'
                '@AppBundle/Resources/public/css/font-awesome.min.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            <style type="text/css">
                body {
                    padding-top: 40px;
                    padding-bottom: 40px;
                    background-color: #eee;
                }
                hr {
                    border-top: 1px solid #D0D0D0 !important;
                }
                .button {
                    display: block;
                    width: 100%;
                }
                .button.blue {
                    margin-bottom: 5px;
                }
                .quick-nav-container {
                    max-width: 330px;
                    padding: 15px;
                    margin: 0 auto;
                }
                .quick-nav-container img {
                    width: 90px;
                    display: block;
                    margin: 0 auto 20px auto;
                }
                .form-signin .form-signin-heading,
                .form-signin .checkbox {
                    margin-bottom: 10px;
                }
                .form-signin .checkbox {
                    font-weight: normal;
                }
                .form-signin .form-control {
                    position: relative;
                    height: auto;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    padding: 10px;
                    font-size: 16px;
                }
                .form-signin .form-control:focus {
                    z-index: 2;
                }
                .form-signin input#username {
                    margin-bottom: -1px;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
                .form-signin input#password {
                    margin-bottom: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="quick-nav-container">
            <div class="logo">
                <img src="{{ asset('img/logo.png') }}" />
            </div>
            {% if app.user %}
                <a href="{{ path('app.dashboard.default.dashboard') }}" class="ui green button" style="margin-bottom: 10px;">
                    Moj profil
                </a>
            {% else %}
                <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="POST">
                    {% if error %}
                        <div class="alert alert-danger">Pogrešan unos.</div>
                    {% endif %}
                    <label for="username" class="sr-only">Korisničko ime</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Korisničko ime" />
                    <label for="password" class="sr-only">Lozinka</label>
                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Lozinka" />
                    <div class="checkbox">
                      <label>
                          <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Zapamti me
                      </label>
                    </div>
                    <input type="hidden" name="_target_path" value="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('app.dashboard.default.dashboard') }}" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <input type="submit" class="ui green button" id="_submit" name="_submit" value="Prijava" />
                </form>
                <hr />
                <a href="{{ path('fos_user_registration_register') }}" class="ui blue button">
                    Registracija
                </a>
            {% endif %}
            <a href="{{ path('app.frontend.search.index') }}" class="ui blue button">
                Pretraživanje
            </a>
            <hr />
            <p class="small" style="text-align: center;">
                <a href="{{ path('fos_user_resetting_request') }}">
                    Zaboravili ste lozinku?
                </a>
            </p>
            <p class="small" style="text-align: center;">
                <a href="{{ path('app.frontend.default.impressum') }}">
                    Impressum
                </a>
            </p>
        </div>
    </body>
</html>
