{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary btn-lg col-md-12" style="margin: 20px 0 20px 0;" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>
