<tr>
    <td align="right" height="106" valign="top" style="width: 30%;">
        <b>
            <img src="{{ asset('img/logo_europass.png') }}" width="75" />
            <font face="Arial Narrow" size="4">
                <p align="right" style="margin-bottom: 0;">Europass</p>
                <p align="right" style="margin-top: 0;">Curriculum vitae</p>
            </font>
        </b>
    </td>
    <td height="106" style="width: 20px;"></td>
    <td bgcolor="#666666" height="106" style="width: 5px;"></td>
    <td height="106" style="width: 20px;"></td>
    <td height="106"></td>
</tr>
