<tr>
    <td align="right" height="22" valign="top" style="text-align: right; width: 30%;">
        <font face="Arial Narrow" size="{{ key_size|default(3) }}">
            {{ key|raw }}
        </font>
    </td>
    <td height="22"></td>
    <td bgcolor="#666666" height="22">&nbsp;</td>
    <td height="22"></td>
    <td height="22">
        <font face="Arial Narrow" size="{{ key_size|default(3) }}">
            <span contenteditable="true">{% if value != '' %}{{ value|raw }}{% else %}&nbsp;{% endif %}</span>
        </font>
    </td>
</tr>
