<tr>
    <td align="right" height="22" valign="top" style="width: 30%; text-align: right;">
        <b>
            <font face="Arial Narrow" size="3" style="">
                {{ name }}
            </font>
        </b>
    </td>
    <td height="22"></td>
    <td bgcolor="#666666" height="22">&nbsp;</td>
    <td height="22"></td>
    <td height="22"></td>
</tr>
