<tr>
    <td align="right" height="21" valign="top" style="width: 30%;"></td>
    <td height="21"></td>
    <td bgcolor="#666666" height="21">&nbsp;</td>
    <td height="21"></td>
    <td height="21"></td>
</tr>
