/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
* {
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body {
  padding-top: 50px;
  background-color: #FFF;
}

/*
 * Global add-ons
 */

 h1 {
  font-weight: 300;
 }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

.sidebar {
  display: none;
}

.sidebar > ul > li > a {
    padding: 12px 20px 12px 20px;
    color: #999999 !important;
}

.sidebar > ul > li > a:hover {
    color: #333333 !important;
}

.sidebar > ul > li > a > i {
    float: left;
    font-size: 23px;
}

.sidebar > ul > li > a > span {
    display: block;
    clear: right;
    padding-top: 4px;
    padding-left: 40px;
    font-size: 13px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed !important;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #F9F9F9;
    border-right: 1px solid #EAEAEA;
  }
}

.nav > li > span {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 5px;
  display: block;
  padding: 10px 15px;
  color: #9d9d9d;
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  border-bottom: 1px solid #EEE;
  padding-bottom: 18px;
  margin-bottom: 21px;
}

/*
 * Message
 */

.ui.message {
    margin: 1em 0 1.5em 0;
}

/*
 * Errors
 */

.help-block {
    color: #d95c5c;
    font-size: 11px;
}

/*
 * Label
 */

.ui.form .field > label {
    color: #444;
}

/*
 * Textarea
 */

.ui.form textarea, .ui.textarea {
    min-height: 5em;
    height: 5em;
}

/*
 * Select
 */

.error .select2-container--default .select2-selection--single {
    border: 1px solid #d95c5c;
    background-color: #fff0f0;
}

.error .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #d95c5c;
}

.select2-container--default .select2-selection--single {
    border: 1px solid rgba(39,41,43,.15);
}

.select2-container .select2-selection--single {
    padding: 5px;
    height: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 70%;
    left: 20%;
}

.select2-results__option {
    padding: 11px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(39,41,43,.15);
}

.select2-search--dropdown .select2-search__field {
    padding: 9px;
}
