* {
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.header {
    background-color: #F7F7F7;
    padding: 10px 0;
}

.header h1 {
    color: #FFF;
    font-size: 14px;
    font-weight: normal;
}

.search-filters {
    background-color: #FEFEFE;
    border-bottom: 2px solid #E6E6E6;
}

.search-row:last-child .search-row__wrapper {
    border-bottom: 0;
}

.search-row .search-row__wrapper {
    border-bottom: 1px solid #F7F7F7;
    padding: 15px 0;
}

.search-row .search-row__description {
    display: block;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #565a5c;
    padding-top: 10px;
}

.option label {
    color: #606060;
    display: block;
    clear: both;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.option-text .field input {
    padding: 6px !important;
    margin-top: 0px !important;
    border-radius: 2px !important;
    font-size: 14px !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    line-height: 17px !important;
    border: 1px solid rgba(196, 196, 196, 1) !important;
    color: #565a5c !important;
}

.option-select {
    max-width: 100%;
    overflow: hidden;
}

.option-select select {
    width: 50% !important;
    margin: 0;
}

.option-select span.select2 {
    font-size: 14px;
    font-weight: normal;
}

.option-select span.select2-selection--single {
    border-radius: 2px !important;
    border: 1px solid #c4c4c4 !important;
    height: 33px !important;
    outline: 0;
}

.option-check label {
    color: #606060 !important;
    font-size: 10px !important;
}

.option-check .checkbox {
    margin-top: 23px !important;
    margin-bottom: 0 !important;
}

.option-date span.select2.select2-container.select2-container--default {
    width: 30% !important;
    float: left;
}

.advanced-search {
    background-color: #222;
    color: #CCC;
    padding: 5px 0;
}

.advanced-search p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.meta {
    color: #A0A0A0;
    font-size: 15px;
    font-weight: lighter;
    padding: 20px 0;
}

.meta span {
    font-weight: bold;
}

th span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding: 10px 0;
    display: block;
}

tr {
    background-color: #FEFEFE;
}

a.list-item {
    background-color: #FFF;
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
}

a.list-item img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}

a.list-item p.first {
    font-size: 18px;
    margin: 0;
    padding: 15px 0 0 15px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

a.list-item p.second {
    font-size: 11px;
    color: #A0A0A0;
    margin-right: 30px;
    padding: 0 0 0 15px;
    cursor: pointer;
}

a.clearfix {
    cursor: pointer;
}


/*
 * Override defaults
 */

.checkbox {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

span.select2.select2-container.select2-container--default {
    width: 100% !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 2px;
    padding-right: 35px !important;
    color: #565a5c;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #565a5c transparent transparent transparent !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #FFF;
    outline: 0;
}

.select2-search__field {
    padding: 8px !important;
}

.select2-search--dropdown {
    padding: 0 !important;
}
