{% extends 'AppBundle:Administration:base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <table class="ui table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Operacije</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.name }}</td>
                        <td>
                            <a href="{{ path('app.administration.area.update', {'id': entity.id}) }}">Uredi</a>
                            <span>|</span>
                            <a href="{{ path('app.administration.area.delete', {'id': entity.id}) }}">Izbriši</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
