<tr>
    <td class="key">
        {{ key }}
    </td>
    <td class="value">
        <span contenteditable="true">{% if value != '' %}{{ value|raw }}{% else %}&nbsp;{% endif %}</span>
    </td>
</tr>
