{% extends 'AppBundle:Administration:base.html.twig' %}

{% block content %}
    <div class="col-md-12">
        <table class="ui table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naziv</th>
                    <th>Sastavnica</th>
                    <th>Sveučilište</th>
                    <th>Operacije</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.name }}</td>
                        <td>
                            {% if entity.universitydepartment is not null %}
                                {{ entity.universitydepartment.name }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if entity.universitydepartment is not null %}
                                {% if entity.universitydepartment.university is not null %}
                                    {{ entity.universitydepartment.university.name }}
                                {% else %}
                                    -
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app.administration.universitydepartmentdesk.update', {'id': entity.id}) }}">Uredi</a>
                            <span>|</span>
                            <a href="{{ path('app.administration.universitydepartmentdesk.delete', {'id': entity.id}) }}">Izbriši</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
