{% extends 'AppBundle:Dashboard:base.html.twig' %}
{% import 'AppBundle:Dashboard/_macros:forms.html.twig' as forms %}

{% block content %}
    {{ forms.collection(form, form.schooling) }}
{% endblock %}
