{% extends 'AppBundle:ElasticSearch:base.html.twig' %}
{% block title %}Pretraga vještina i kompetencija{% endblock %}
{% block content %}
    <div class="container-fluid">
        {{ form_start(form, {'attr': {'id': 'searchForm'}}) }}
            <div class="form-group">
                {{ form_label(form.technical_skills) }}
                {{ form_widget(form.technical_skills, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.social_skills) }}
                    {{ form_widget(form.social_skills, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(form.organization_skills) }}
                    {{ form_widget(form.organization_skills, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.art_skills) }}
                    {{ form_widget(form.art_skills, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(form.misc_skills) }}
                    {{ form_widget(form.misc_skills, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
    <hr style="border: 1px solid grey;"/>

    <div class="container-fluid" id="results" style="padding-left: 20px">

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/skills-and-competences-search.js') }}"></script>
{% endblock %}