{% extends 'AppBundle:Dashboard:base.html.twig' %}
{% form_theme form 'AppBundle:Dashboard:forms.html.twig' %}

{% block content %}
    {{ form_start(form, {'attr' : {'class' : 'form ui', 'novalidate' : 'novalidate'} }) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.gender) }}
        {% if user.profilePicturePath is not null %}
            <div class="field row">
                <div class="col-sm-1" style="padding: 0;">
                    <img class="ui circular image" src="{{ ('/uploads/profile/' ~ user.id ~ '/' ~ user.profilePicturePath)|imagine_filter('120x120') }}" style="width: 100%;" />
                </div>
                <div class="col-sm-11">
                    {{ form_row(form.profilePictureFile) }}
                    <p><a href="{{ path('app.dashboard.default.removeProfilePicture') }}">Ukloni fotografiju</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        {% else %}
            {{ form_row(form.profilePictureFile) }}
        {% endif %}
        {{ form_rest(form) }}
        <hr />
        <div class="row" style="text-align: right;">
            <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
                <button class="btn-floating btn-large waves-effect waves-light green"><i class="fa fa-floppy-o"></i></button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
